<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <!--Custom Logging and Tracing-->
    <switches>
      <add name="GMySwitch" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="GDBTL" type="Ganini.Diagnostics.DatabaseTraceListener,GCustomTraceListeners"/>
        <add name="GFileTL" type="Ganini.Diagnostics.FileTraceListener,GCustomTraceListeners"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <remove name="DefaultConnection"/>
    <add name="DefaultConnection" connectionString="Data Source=CHANDRU-PC\SQL12;Initial Catalog=HillIntl260618;uid=appuser;pwd=ganini@123;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="GCustTrace_DbConnectionString" connectionString="Data Source=Chandru-PC\SQL12;Initial Catalog=HillIntl260618;uid=appuser;pwd=ganini@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Folder Related -->
    <add key="TestFile" value="D:\LogFile\Hills\"/>
    <add key="LogFile" value="D:\LogFile\HillsLog-"/>
    <add key="GCustTrace_logfile" value="D:\LogFile\Hills\HillsTrace.txt"/>
    <add key="RptPath" value="E:\Source Code\HillsInternational\Hills\Reports\"/>
    <add key="FolderPath" value="C:\Android\DailyTemplates\Hills\"/>
    <!-- Config related -->
    <add key="Isdev" value="y"/>
    <add key="IsServer" value="Y"/>
    <add key="TestingFlag" value="Y"/>
    <add key="VERSION" value="1.0.05"/>
    <add key="ClGud" value="GlMudivu@le"/>
    <add key="Bhadram" value="padhi"/>
    <!--Upload related -->
    <add key="SourceFolder" value="C:\Android\DailyTemplates\Hills\"/>
    <add key="ExcelFileSheetName" value="Sheet1"/>
    <add key="CSVExtension" value=".csv"/>
    <!-- Used in CompanyMaster Creation Below 6 lines till training center do not Delete -->
    <add key="CompanyType1" value="HO"/>
    <add key="CompanyType2" value="BR"/>
    <add key="Corporate" value="Cor"/>
    <add key="HeadOffice" value="HO"/>
    <add key="Branch" value="BR"/>
    <add key="TraninigCenter" value="TC"/>   
    <!--General MailConfiguration Starts-->
    <add key="IP" value="dedrelay.secureserver.net"/>
    <add key="_Port" value="25"/>
    <add key="FromMail" value="support@ganini.in"/>
    
    <add key="GoogleMail" value="Y"/>     <!--Set to Y if Google Mail interface is used else make it N scs 070916-->
    <add key="SMTPSRV" value="smtp.gmail.com"/>
    <add key="FROM" value="ganinisupport@gmail.com"/>
    <add key="MName" value="ganinisupport@gmail.com"/>
    <add key="MPw" value="GCloud2015"/>     <!--ganinisupportCloud2015  "DKaKhgW2a6rji6w+xCVQEkqDVqeNT5cRCpM6CGRF+hI="  -->
    <!--<add key="TO" value="chandru@ganini.com"/>
    <add key="CC" value="jayaraman@ganini.com"/>
    <add key="BCC" value="psj@ganini.com"/>
    <add key="Subject" value=" Daily Reports"/>
    <add key="Body" value="We are attaching following Reports&#xA;         &#xA;         1.DailyPluckingSummary&#xA;         2.PlantationDetailsList&#xA;         3.DateWiseIssueRegister&#xA;         4.DailyMusterChit&#xA;         5.ClosingStockStmt"/>-->
    <!-- -->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="15360" requestLengthDiskThreshold="15360"/>
    <!--added for Abinayaa 230513  Uploding large size of files it allows-->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!--  <rule name="Force HTTPS" enabled="true">  This is for HTTP to HTTPS
	     <match url="(.*)" ignoreCase="false"/>-->

        <rule name="HttpToHttps" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <conditions>
            <add input="{HTTPS}" pattern="off"/>


          </conditions>
          <!--  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/> -->
        </rule>
      </rules>
    </rewrite>
    
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
 
 
</configuration>