<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <!--Custom Logging and Tracing-->
    <switches>
      <add name="GMySwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="GDBTL" type="Ganini.Diagnostics.DatabaseTraceListener,GCustomTraceListeners" />
        <add name="GFileTL" type="Ganini.Diagnostics.FileTraceListener,GCustomTraceListeners" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
        <remove name="GCustTrace_DbConnectionString" />
    <remove name="DefaultConnection" />
    <!--<  add name="DefaultConnection" connectionString="Data source=sys-4;User id=rbl;password=rbl123;Provider=MSDAORA." providerName="System.Data.OracleClient" AgilerStanes211226/>-->
    <add connectionString="Data Source=CHANDRU-PC\SQL12;Initial Catalog=HillIntl260618;uid=appuser;pwd=ganini@123;Connect Timeout=600" name="DefaultConnection" providerName="System.Data.SqlClient" />
        <add connectionString="Data Source=CHANDRU-PC\SQL12;Initial Catalog=HillIntl260618;uid=appuser;pwd=ganini@123" name="GCustTrace_DbConnectionString" providerName="System.Data.SqlClient" />


	  <!--<add connectionString="Data Source=218-167-178-68\SQL12;Initial Catalog=HillsNew;uid=appuser;pwd=ganini@123;Connect Timeout=600" name="DefaultConnection" providerName="System.Data.SqlClient" />
	  <add connectionString="Data Source=218-167-178-68\SQL12;Initial Catalog=HillsNew;uid=appuser;pwd=ganini@123" name="GCustTrace_DbConnectionString" providerName="System.Data.SqlClient" />-->
	  <!--<add connectionString="Data Source=218-167-178-68\SQL12;Initial Catalog=AgilerCTE;uid=appuser;pwd=ganini@123" name="GCustTrace_DbConnectionString" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="URLDir" value="Mobile" />
    <add key="GCustTrace_logfile" value="C:\LogFile\Hills\AgilerWebservice.txt" />
    <add key="TestFile" value="C:\LogFile\Hills\NameChitLog" />
    <add key="LogFile" value="C:\LogFile\Hills\NameChitLog-" />
    <add key="Isdev" value="y" />
    <add key="CompanyType1" value="PL" />
    <add key="CompanyType2" value="PL" />
    <add key="TestingFlag" value="Y" />
    <add key="VERSION" value="1.0.00" />
    <add key="ClGud" value="GlMudivu@le" />
    <add key="Bhadram" value="padhi" />
 <!--<add key="AuthenticationMode" value="Mixed"/> -->
    <add key="AuthenticationMode" value="Database"/>
    <add key="ActiveDirectoryDomain" value=""/>
    <!--If Bhadram is padhi then it is assumed to allow wcf service... change it once instaadministrator`lled-->
    <!--Modified by abinayaa 070313 1.1.01 to 1.1.02-->
    <add key="IndianDateFormat" value="dd/MM/yyyy" />
    <!--General MailConfiguration Starts-->
    <add key="IP" value="dedrelay.secureserver.net" />
    <add key="_Port" value="25" />
    <add key="FromMail" value="support@ganini.in" />
    <!-- Server and From Mail-->
    <add key="GoogleMail" value="Y" />
    <!--Set to Y if Google Mail interface is used else make it N scs 070916-->
    <add key="SMTPSRV" value="smtp.gmail.com" />
    <add key="FROM" value="ganinisupport@gmail.com" />
    <add key="MName" value="ganinisupport@gmail.com" />
    <!--ganinisupportCloud2015  "DKaKhgW2a6rji6w+xCVQEkqDVqeNT5cRCpM6CGRF+hI="  -->
    <add key="MPw" value="GCloud2015" />
    <!--<add key="MPw" value="Cloud2015"/>-->
    <!--<add key="TO" value="vijaikumarvijai@gmail.com"/>
    <add key="CC" value="gopinath@sgpexim.com,jayaraman@ganini.com"/>
    <add key="BCC" value="psj@ganini.com"/>-->
    <add key="TO" value="chandru@ganini.com" />
    <add key="CC" value="jayaraman@ganini.com" />
    <add key="BCC" value="psj@ganini.com" />
    <add key="Subject" value=" Daily Reports" />
    <add key="Body" value="We are attaching following Reports&#xA;         &#xA;         1.DailyPluckingSummary&#xA;         2.PlantationDetailsList&#xA;         3.DateWiseIssueRegister&#xA;         4.DailyMusterChit&#xA;         5.ClosingStockStmt" />
    <!--General MailConfiguration Ends-->
    <!--Login Detail Configuration Starts-->
    <add key="Subject" value="Login Details" />
    <add key="BodyMessage" value="Here are the login details of your account. Please use the username and password detailed below to access the Sample System." />
    <add key="BodyMessage1" value="Your Password is " />
    <add key="BodyMessage2" value=" This Email is AutoGenerated by Sample System. Please do not reply." />
    <!--Login Detail Configuration Ends-->
    <!--Sample Mail Configuration Starts-->
    <add key="Subject" value=" Details" />
    <add key="BodyMessage" value="Following are the  details:" />
   
    <!--Sample Mail Configuration Ends  E:\Source Code\AgilerLite\AgilerLiteWebSite\Reports  E:\Source Code\AgilerERPSUA\AgilerERPSource\Reports -->
    <!--<add key="RptPath" value="C:\inetpub\GaniniSites\HillIntl\Reports\" />-->
	  <add key="RptPath" value="E:\Source Code\HillsInternational\Hills\Reports\" />
    <add key="ExcelDataPath" value="C:\UpLoad\Hills\Excel\" />
   
    <!--Compnay Type Stored for DDL scs 270714-->
    <add key="Corporate" value="Cor" />
    <add key="HeadOffice" value="HO" />
    <add key="Plant" value="PL" />
    <add key="TraninigCenter" value="TC" />
   <add key="FolderPath" value="C:\Upload\Hills\"/>
    <add key="ExcelFileSheetName" value="Sheet1" />
    <add key="IsServer" value="Y" />
    <add key="ExcelExtension" value=".xlsx" />
    <add key="CSVExtension" value=".csv" />
    <add key="Isdev" value="y" />
    <add key="NoOfYears" value="3" />
    <add key="YearsFuture" value="2" />
    <add key="Years" value="2" />
    <!-- added by Ramesh 151124-->
    </appSettings>
  <system.web>
      <pages>
        <controls>
          <add tagPrefix="tis" tagName="EmptyState" src="~/Controls/EmptyState.ascx" />
          <add tagPrefix="tis" tagName="UploadSteps" src="~/Controls/UploadSteps.ascx" />
        </controls>
      </pages>
    <sessionState mode="InProc" timeout="50000" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.CrystalReports.TemplateEngine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="15360" requestLengthDiskThreshold="15360" />
    <!--added for Abinayaa 230513  Uploding large size of files it allows-->
    <customErrors mode="Off" /> 
  </system.web>
  <system.webServer>

 <rewrite>
      <rules>
        <clear />
       <!--  <rule name="Force HTTPS" enabled="true">
	     <match url="(.*)" ignoreCase="false"/>-->

		<rule name="HttpToHttps" stopProcessing="true">
	        <match url=".*" ignoreCase="true" />
            <conditions>
                <add input="{HTTPS}" pattern="off" />
		
			
            </conditions>
           <!--  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/> -->
      </rule>
      </rules>
   </rewrite>


    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
    <!--  <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
  </system.webServer>

 
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="htt://localhost/WCF_AgilerMail/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="AgilerMailService.IService1" name="BasicHttpBinding_IService1"/>
    </client>-->
    <client>
      <endpoint address="http://www.ganini.in/WCF_AgilerWFMail/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="AgilerMailService.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <!--<system.serviceModel>
    <binding name="BasicHttpBinding_IService1" closeTimeout="00:40:00" openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding> 
    
    -->
  <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>-->
  <!--
    <client>
      <endpoint address="htt://www.ganiniinfotech.in/WCF_AgilerMail/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" 
                contract="AgilerMailService.IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>-->
</configuration>